<div class="row">
  <div class="col-sm-12">
    <div class="page-hader">
      <h1>¿Quiénes Somos?</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <%= render 'page' %>
  </div>
</div>