.modal-dialog.modal-sm
  .modal-content
    .modal-header
      %button.close{type:"button", data:{dismiss:"modal"}, aria:{label:"Close"}}
       %span{aria:{hidden:"true"}} &times;
      %h3 Editar estado: #{@estado.nombre}
    = render 'form'