.modal-dialog.modal-md
  .modal-content
    .modal-header
      %button.close{type:"button", data:{dismiss:"modal"}, aria:{label:"Close"}}
        %span{aria:{hidden:"true"}} &times;
      %h3 Cambiar estado: Vehiculo #{@vehiculo.placa}
    = render 'form'